html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  color: rgb(29,29,31);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: light; /* Her zaman aydınlık temayı kullan */
  }
  body {
    color: rgb(29, 29, 31); /* Varsayılan aydınlık tema metin rengini uygula */
    background: #fff; /* Aydınlık tema arka plan rengini uygula */
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 30px; /* 2K ekranlar için artırılmış font-size */
  }
}



